@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

  src: url("./assets/fonts/Vazir-Regular.ttf");
  font-family: "Vazir";
}
* {
  font-family: "Vazir";
  font-family: Vazir;
  src: url("./assets/fonts/Vazir-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;

  font-family: Vazir;

}
